div(class="sy-dash-sidebar")
  img(class="logo" src="/assets/logo-purple.svg")
  div(class="ui vertical icon menu")
    a(class=`${active === 'index' ? 'active' : ''} item` href="/" data-tooltip="Home" data-position="right center")
      i(class="large home icon")
    a(class=`${active === 'servers' ? 'active' : ''} item` href="/servers" data-tooltip="Servers" data-position="right center")
      i(class="large server icon")
    a(class=`${active === 'entities' ? 'active' : ''} item` href="/entities" data-tooltip="Entities" data-position="right center")
      i(class="large users icon")
    a(class=`${active === 'clients' ? 'active' : ''} item` href="/clients" data-tooltip="Clients" data-position="right center")
      i(class="large browser icon")
    a(class=`${active === 'settings' ? 'active' : ''} item` href="/settings" data-tooltip="Settings" data-position="right center")
      i(class="large options icon")
    a(class="item" href="/logout" data-tooltip="Logout" data-position="right center")
      i(class="large sign out icon")
