div(class="sy-dash-sidebar")
  img(class="logo" src="/assets/logo-purple.svg")
  div(class="ui vertical icon menu")
    a(class=`${active === 'index' ? 'active' : ''} item` href="/")
      i(class="large home icon")
    a(class=`${active === 'servers' ? 'active' : ''} item` href="/servers")
      i(class="large server icon")
    a(class=`${active === 'entities' ? 'active' : ''} item` href="/entities")
      i(class="large users icon")
    a(class=`${active === 'clients' ? 'active' : ''} item` href="/clients")
      i(class="large browser icon")
    a(class=`${active === 'settings' ? 'active' : ''} item` href="/settings")
      i(class="large options icon")
    a(class="item" href="/logout")
      i(class="large sign out icon")
