extends includes/dash.pug

block dashboard
  h1(class="ui header") Entity: #{entity.entityName}
  if tokens.length
    h2(class="ui header") Associated Clients
    div(class="ui four cards")
      each token in tokens
        div(class="ui card")
          div(class="content")
            div(class="header")= token.client.clientName
            div(class="description") #{token.client.deviceTypeProper} client
          a(class="ui bottom attached negative button" data-action="showRevokeModal" data-params=token._id) Revoke
    div(class="ui hidden divider")
  h2(class="ui header") Edit Entity
  form(class="ui form" id="update-form" method="POST")
    input(type="hidden" id="passwordHash" name="passwordHash")
    input(type="hidden" id="passwordSalt" name="passwordSalt")
    div(class="field")
      label= "Username"
      input(type="text" id="username" name="username" placeholder="Username" value=entity.username)
    div(class="field")
      label= "New Password"
      input(type="password" id="password" placeholder="Password")
    div(class="field")
      label= "Confirm Password"
      input(type="password" id="confirm" placeholder="Confirm Password")
    div(class="field")
      div(class="ui checkbox")
        input(type="checkbox" class="hidden" name="admin" checked=entity.admin)
        label= "Admin User"
    div(class="ui hidden divider")
    button(type="submit" class="ui large basic primary button") Save
    a(class="ui large basic negative button" data-action="showDeleteModal" data-params=entity._id)= "Delete"
    a(class="ui large basic button" href="/entities")= "Go Back"
    div(class="ui error message")

  div(id="delete-entity-modal" class="ui basic modal")
    div(class="ui icon header")
      i(class="remove user icon")
      | Delete Entity
    div(class="content")
      p= "Are you sure you wish to delete this entity?"
    div(class="actions")
      div(class="ui basic inverted button" data-action="hideModal")
        i(class="remove icon")
        | Cancel
      div(class="ui red basic inverted button" data-action="deleteEntity")
        i(class="checkmark icon")
        | Delete
  
  div(id="revoke-token-modal" class="ui basic modal")
    div(class="ui icon header")
      i(class="remove icon")
      | Revoke Token
    div(class="content")
      p= "Are you sure you wish to revoke this token?"
    div(class="actions")
      div(class="ui basic inverted button" data-action="hideModal")
        i(class="remove icon")
        | Cancel
      div(class="ui red basic inverted button" data-action="revokeToken")
        i(class="checkmark icon")
        | Revoke
