extends includes/dash.pug

block dashboard
  h1(class="ui header")= "Entities"
  div(class="ui four cards")
    each entity in entities
      div(class="ui card")
        div(class="content")
          p(class="header")= entity.entityName
          div(class="description")= "Entity"
        a(class="ui bottom attached negative button")= "Delete"
  h3(class="ui dividing header")= "Create New Entity"
  form(class="ui form" id="password-form" method="POST")
    input(type="hidden" id="passwordHash" name="passwordHash")
    input(type="hidden" id="passwordSalt" name="passwordSalt")
    div(class="field")
      label= "Username"
      input(type="text" id="username" name="username" placeholder="Username")
    div(class="field")
      label= "Password"
      input(type="password" id="password" placeholder="Password")
    div(class="field")
      label= "Confirm Password"
      input(type="password" id="confirm" placeholder="Confirm Password")
    div(class="field")
      div(class="ui checkbox")
        input(type="checkbox" class="hidden" name="admin")
        label= "Admin User"
    button(type="submit" class="ui positive button") Register
    div(class="ui error message")
