extends includes/dash.pug

block dashboard
  h1(class="ui header")= "Dashboard"
  h2(class="ui dividing header")= "At A Glance"
  div(class="ui statistics")
    div(class="statistic")
      div(class="value")= documents
      div(class="label") Documents
    div(class="statistic")
      div(class="value")= entities
      div(class="label") Entities
    div(class="statistic")
      div(class="value")= clients
      div(class="label") Clients
  div(class="ui hidden divider")
  h2(class="ui dividing header") Statistics
  table(class="ui very basic collapsing celled table")
    thead
      tr
        th Content Type
        th Count
    tbody
      each contentType in contentTypes
        tr
          td #{contentType._id}
          td #{contentType.count}
