extends includes/dash.pug

block dashboard
  h1(class="ui header")= "Settings"
  form(id="edit_settings_form" method="POST" action="settings" class="ui form")
    each val, key in settings
      - key_label = key.replace(/([A-Z])/g, ' $1').replace(/^./, function(str) { return str.toUpperCase(); });
      - if (typeof val === "boolean") {
        div(class=`inline field ${key}`)
          div(class="ui checkbox")
            label= key_label
            input(class="hidden" tabindex="0" type="checkbox"  name=key checked=val)      
      - } else if (val instanceof Array) {
        div(class=`field ${key}`)
          label= key_label
          each v in val 
            div(class="inline field")
              div(class="ui checkbox")
                input(class="hidden" tabindex="0" value=v name=key type="checkbox" checked="true")
                label=v
          div(class="field six wide")
            input(name=key type="text" placeholder="Add a domain")
      - } else {
        div(class=`field six wide ${key}`)
          label= key_label
          input(value=val name=key type="text")
      - }
      div(class="ui divider")          
    button(class="ui large basic primary hidden button" id="save_settings_btn" type="submit") Save
